In [1]:
# Pandas

In [3]:
# Pandas is a python libraries used for working with dataset
 # The name pandas refere as python data analysis
# Using python pandas we can clean the messy data and make them readable

In [7]:
import pandas as pd
my_dataset = {
    'cars':["BMW", "Volvo", "Ford"],
    'passing':[3,7,2]
}
pf = pd.DataFrame(my_dataset)
print(pf)

    cars  passing
0    BMW        3
1  Volvo        7
2   Ford        2

In [8]:
# Pandas Frames

In [9]:
# Pandas frames is like a 2d array or a tables with rows and coloumn

In [11]:
import pandas as pd
data = {
    'calories': [360,390,420],
    'duration':[40,45,50]
}
pf = pd.DataFrame(data)
print(pf)

   calories  duration
0       360        40
1       390        45
2       420        50

In [12]:
# Reading Dataset 
import pandas as pd

pf = pd.read_csv('cars.csv')
print(pf)

      mpg   cylinders  cubicinches   hp  weightlbs   time-to-60   year  \
0    14.0           8          350  165       4209           12   1972
1    31.9           4           89   71       1925           14   1980
2    17.0           8          302  140       3449           11   1971
3    15.0           8          400  150       3761           10   1971
4    30.5           4           98   63       2051           17   1978
..    ...         ...          ...  ...        ...          ...    ...
256  17.0           8          305  130       3840           15   1980
257  36.1           4           91   60       1800           16   1979
258  22.0           6          232  112       2835           15   1983
259  18.0           6          232  100       3288           16   1972
260  22.0           6          250  105       3353           15   1977

        brand
0         US.
1     Europe.
2         US.
3         US.
4         US.
..        ...
256       US.
257    Japan.
258       US.
259       US.
260       US.

[261 rows x 8 columns]

In [13]:
print(pf.head())
# Head will give the 5 rows from the top

    mpg   cylinders  cubicinches   hp  weightlbs   time-to-60   year     brand
0  14.0           8          350  165       4209           12   1972       US.
1  31.9           4           89   71       1925           14   1980   Europe.
2  17.0           8          302  140       3449           11   1971       US.
3  15.0           8          400  150       3761           10   1971       US.
4  30.5           4           98   63       2051           17   1978       US.

In [ ]:
# Analyze Data

In [15]:
# tails gives us the 5 rows from bottom
print(pf.tail(5))

      mpg   cylinders  cubicinches   hp  weightlbs   time-to-60   year  \
256  17.0           8          305  130       3840           15   1980
257  36.1           4           91   60       1800           16   1979
258  22.0           6          232  112       2835           15   1983
259  18.0           6          232  100       3288           16   1972
260  22.0           6          250  105       3353           15   1977

       brand
256      US.
257   Japan.
258      US.
259      US.
260      US.

In [16]:
print(pf.info())
# info gives us the more information about the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           261 non-null    float64
 1    cylinders    261 non-null    int64
 2    cubicinches  261 non-null    object
 3    hp           261 non-null    int64
 4    weightlbs    261 non-null    object
 5    time-to-60   261 non-null    int64
 6    year         261 non-null    int64
 7    brand        261 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 16.4+ KB
None

In [21]:
pf

,mpg,cylinders,cubicinches,hp,weightlbs,time-to-60,year,brand
0,14.0,8,350,165,4209,12,1972,US.
1,31.9,4,89,71,1925,14,1980,Europe.
2,17.0,8,302,140,3449,11,1971,US.
3,15.0,8,400,150,3761,10,1971,US.
4,30.5,4,98,63,2051,17,1978,US.
...,...,...,...,...,...,...,...,...
256,17.0,8,305,130,3840,15,1980,US.
257,36.1,4,91,60,1800,16,1979,Japan.
258,22.0,6,232,112,2835,15,1983,US.
259,18.0,6,232,100,3288,16,1972,US.
260,22.0,6,250,105,3353,15,1977,US.

In [23]:
pf.describe()

              mpg   cylinders          hp   time-to-60         year
count  261.000000  261.000000  261.000000   261.000000   261.000000
mean    23.144828    5.590038  106.360153    15.547893  1976.819923
std      7.823570    1.733310   40.499959     2.910625     3.637696
min     10.000000    3.000000   46.000000     8.000000  1971.000000
25%     16.900000    4.000000   75.000000    14.000000  1974.000000
50%     22.000000    6.000000   95.000000    16.000000  1977.000000
75%     28.800000    8.000000  138.000000    17.000000  1980.000000
max     46.600000    8.000000  230.000000    25.000000  1983.000000

In [24]:
pf.head()

    mpg   cylinders  cubicinches   hp  weightlbs   time-to-60   year     brand
0  14.0           8          350  165       4209           12   1972       US.
1  31.9           4           89   71       1925           14   1980   Europe.
2  17.0           8          302  140       3449           11   1971       US.
3  15.0           8          400  150       3761           10   1971       US.
4  30.5           4           98   63       2051           17   1978       US.

In [17]:
# Data cleaning

In [18]:
# Data cleaning means foxong the wrong data
# Remove the data which is having :
# 1. Empty Cells
# 2. Data in wrong format
# 3. wrong data
# 4. Duplicate data

In [19]:
# Empty cell

In [36]:
# It means the rows which is having emoty that we will delete

In [37]:
new_pf = pf.dropna()
print(new_pf)

AttributeError: 'list' object has no attribute 'dropna'