In [ ]:
# sets in python

In [ ]:
# set is a sequenece data structure which is used to store the multiple element in single variable
# set uses curely bracket { } . and sets element is seperated by commas.
# set does not have index we cant make change in it.

In [ ]:
# set properties:
# 1. Set is unordered
# 2. set does not accept duplicate elements
# 3. set element are unchanable

In [ ]:
# set is unorder like it does't contain indexing . like every time it will print the element in any order it does not follow ordering
# set should accept only unique element . in set duplicates element are not allowed
# set element are unchangable like we cannot make change onve set is created .
# we can add and delete the elemnt from last only

In [1]:
myset = {"One" , "two" , "Three"}
print(myset)

{'One', 'two', 'Three'}

In [2]:
myset = {'banana' , 'orange', 'apple'}
print(myset)

{'orange', 'apple', 'banana'}

In [ ]:
# add set items

In [ ]:
# if we want to add new element into the set we cannot add in between the element can be added or deleted from the end itself
# to add the element we have to make use of  set_name . add() method

In [3]:
my_set = {'one' , 'two' , 'three' , 'four'}
my_set.add('five')
print(my_set)

{'one', 'five', 'three', 'two', 'four'}

In [4]:
myset_one = {'one' , 'two'}
myset_one.add('three')
print(myset_one)

{'two', 'three', 'one'}

In [ ]:
# remove element from set

In [ ]:
# to remove element from set we have to make use of remove method or discard methods

In [5]:
myset = {'one', 'two' , 'three' , 'four'}
myset.remove('four')
print(myset)

{'two', 'three', 'one'}

In [ ]:
# remove elemnt from the set

In [ ]:
# we can remove the element from set using remove or discard method

In [6]:
set = {1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [7]:
set = {1,2,3,4,5}
set.remove(5)
print(set)

{1, 2, 3, 4}

In [8]:
set = {1,2,3,4,5}
set.discard(5)
print(set)

{1, 2, 3, 4}