In [ ]:
# tuples

In [1]:
print("Shaaz")

Shaaz

In [ ]:
# tuples are sequence data structure is used to multiple data items into single variable
# Tupes are :
# 1. ordered
# 2. unchangeable
# 3. allows duplicate values

In [ ]:
# ordered : It starts from zeroth index then 1 and so on..,,
# unchangable : we cannot make a chnage in tuples , like if we have to make chamgw in tuple first we have to convet it into list then have to change 
# -> the element adn the again convert back into tuple
# duplicates : tuples element can be duplicate

In [2]:
mytuples = ("orange" , "apple", "banana" , "chickoo")
print(mytuples)
# Basic tuple implmentation

('orange', 'apple', 'banana', 'chickoo')

In [3]:
mytuples = ("orange" , "apple", "banana" , "chickoo")
print(mytuples[0])
# tuples index start from zero

orange

In [4]:
mytuples = ("orange" , "apple", "banana" , "chickoo")
print(mytuples[1])
# element inside the tuple can access using index

apple

In [ ]:
# Range on tuples: (slicing)

In [5]:
mytuples = ("orange" , "apple", "banana" , "chickoo")
print(mytuples[:3])
# range of tuples or its also proving that its a ordered and contigious

('orange', 'apple', 'banana')

In [ ]:
mytuples = ("orange" , "apple", "banana" , "chickoo")
print(mytuples[:3])

In [6]:
mytuples = ("orange" , "apple", "banana" , "chickoo")
print(mytuples[1:3])

('apple', 'banana')

In [7]:
mytuples = ("orange" , "apple", "banana" , "chickoo")
print(mytuples[2:])

('banana', 'chickoo')

In [8]:
mytuples = ("orange" , "apple", "banana" , "chickoo")
if "apple" in mytuples:
    print("Yes apple is presnent")

Yes apple is presnent

In [ ]:
# Update element of tuples

In [ ]:
# once tuple is created we canot add or delete the element from it . 
# to make change in tuple we have to first convert it into list and make change and again convert back it into tuple

In [ ]:
# update means we can add the element to the existing or delete the elemnt from the existing

In [ ]:
# Adding the element into tuple

In [13]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orang")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orang')

In [14]:
thistuple = ("apple" , "orange" , "banana")
y = list(thistuple)
y.append("cherry")
thistuple = tuple(y)
print(thistuple)

('apple', 'orange', 'banana', 'cherry')

In [ ]:
# Delete the elemnt from tuple

In [15]:
this_tuple = ("orange" , "apple" , "Chickoo")
y = list(this_tuple)
y.remove("apple")
this_tuple = tuple(y)
print(this_tuple)

('orange', 'Chickoo')